<div class="menu p-4 w-80 bg-base-200 text-base-content border-r h-full">
      <label class="btn btn-ghost" for="my-drawer-2">BidShop</label>
      <div class="divider"></div>
      <label for="my-drawer-2"  class="btn" [routerLink]="nav.route" [ngClass]="router.url === nav.route ? 'btn-primary':'btn-ghost'" *ngFor="let nav of navs; let i = index">
        {{nav.title}}
      </label>
      <div class="divider">more</div>
      <label for="my-drawer-2" class="btn" [ngClass]="router.url === '/about-us' ? 'btn-primary':'btn-ghost'" routerLink="/about-us">about us</label>


  <div class="flex-1 flex justify-end flex-col">
     <div class="divider">profile</div>
      <h1 class="w-full text-center font-bold my-2">{{name}}</h1>
      <p class="w-full text-center font-semibold mb-2">{{email}}</p>
      <button class="btn btn-outline" (click)="logout()">logout</button>
  </div>
</div>


