<!-- {{data$|async|json}} -->

<div class="overflow-x-auto overflow-y-scroll w-full h-full p-4" *ngIf="data$|async as data">
  <table class="table w-full h-max overflow-y-scroll">
    <!-- head -->
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Asking Price</th>
        <th>Highest bid</th>
        <th>Bidding End Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <!-- row 1 -->
      <tr *ngFor="let d of data" class="hover cursor-pointer" >
        <td>
          {{d.name}} 
          <br>
          <span class="badge">{{d.typeName}}</span>
        </td>
        <td>{{d.prices|currency}}</td>
        <td>
          <div *ngIf="d.highBidInfo as highBidInfo">
            <div>{{highBidInfo.price | currency }}</div>
            <div>{{highBidInfo.name}}</div>
            <button *ngIf="!highBidInfo.requstInfo" class="btn btn-outline" (click)="paymentReq(d)">request payment</button>
            <span *ngIf="highBidInfo.requstInfo" class="badge badge-success" >payment request sent</span>
          <!-- {{d.highBidInfo|json}} -->
          </div>
          <div *ngIf="!d.highBidInfo">
           No Bid 
          </div>

        </td>
        <td>
          {{d.biddingEndDate|date}} 
        </td>
        <th>
          <button class="btn btn-circle btn-ghost tooltip" data-tip="delete" (click)="delete(d.id)" >
            <fa-icon [icon]="faDelete"></fa-icon>
          </button>
          <button class="btn btn-circle btn-ghost tooltip" [ngClass]="d.biddingStatus?'text-red-600':'text-green-600'" data-tip="toggle bidding" (click)="d.biddingStatus?stop(d.id):on(d.id)">
            <fa-icon [icon]="faStop"></fa-icon>
          </button>
        </th>
      </tr>
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th>Product Name</th>
        <th>Asking Price</th>
        <th>Highest Bid</th>
        <th>Bidding End date</th>
        <th></th>
      </tr>
    </tfoot>
    
  </table>


<div class="btn-group flex justify-center">
  <button class="btn btn-ghost" (click)="pre()">«</button>
    <button class="btn btn-ghost">Page {{_pageNumber|async}}</button>
  <button class="btn btn-ghost" (click)="next()">»</button>
</div>

</div>
