<input type="checkbox"  id="login" class="modal-toggle"/>
<div class="modal">
  <div class="modal-box relative">
    <p class="text-xl mb-4 font-bold">Sign In</p>
    <form [formGroup]="form" action="" class="w-full grid grid-cols-1 gap-2">
      <input formControlName="email" type="text" class="input input-bordered" placeholder="email">
      <input formControlName="password" type="text" class="input input-bordered" placeholder="password">
    </form>
    <div class="modal-action">
    <label for="login" class="btn btn-ghost">Cancel</label>
    <button  class="btn" [ngClass]="form.invalid? 'btn-disabled':'btn-primary'" (click)="signIn()" >Sign In</button>
    </div>
  </div>
</div>
