<div class="w-full h-full grid gap-6 grid-cols-2 md:grid-cols-3 lg:grid-cols-4  overflow-y-scroll p-4">

  <form [formGroup]="form" class="col-span-full grid grid-cols-2 md:grid-cols-6">

   <select formControlName="district" class="select select-bordered" (change)="changeDistrict()" >
      <option ngValue="" disabled selected>District</option> 
      <option ngValue="all">All</option>
      <option [ngValue]="district.name" *ngFor="let district of districts">{{district.name}}</option>
   </select>

   <select formControlName="sub_district" class="select select-bordered ">
      <option value="" disabled selected>SubDistrict</option> 
      <option ngValue="all">All</option>
      <option [ngValue]="district.id" *ngFor="let district of selectedSubdistricts">{{district.name}}</option>
   </select>

   <select class="select select-bordered" formControlName="order">
      <option ngValue="" selected disabled>order</option>
      <option ngValue="asc">Hight to low</option>
      <option ngValue="dsc">Low to heigh</option>
   </select>

   <select class="select select-bordered" formControlName="catagory">
      <option ngValue="" selected disabled>Catagory</option>
      <option *ngFor="let catagory of catagories$|async" [ngValue]="catagory.id">{{catagory.name}}</option>
   </select>

   <div class="btn-group col-span-2">
   <input type="text" formControlName="key" class="input input-bordered w-full" placeholder="search"> 
   <button class="btn btn-primary" (click)="search()">search</button>
    </div>
  </form>


<div class="card bg-base-100 shadow-xl" *ngFor="let product of products$|async">
  <figure><img [src]="product.pictureURI" alt="Shoes" /></figure>
  <div class="card-body">
      <h2 class="card-title line-clamp-1">{{product.name}}</h2>
      <p> Asking Price: {{product.prices|currency}}</p>
      <p> Highest Bid: {{product.highestBid|currency}}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" [routerLink]="'/products/'+product.id">Show Details</button>
    </div>
  </div>
</div>

  <div class="btn-group col-span-full flex" >
  <button class="btn">first</button>
  <button class="btn flex-1"></button>
  <button class="btn">«</button>
  <button class="btn">Page 22</button>
  <button class="btn">»</button>
  <button class="btn flex-1"></button>
  <button class="btn">last</button>
</div>

</div>
