<div class="p-4 overflow-x-auto w-full flex flex-col justify-center" *ngIf="data$|async as data">
  <table class="table w-full h-max">
    <!-- head -->
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Asking Price</th>
        <th>Highest bid</th>
        <th>My bid</th>
        <th>Bidding End Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let d of data" class="hover cursor-pointer" [routerLink]="'/products/'+d.productId" >
        <td>
          {{d.name}} 
        </td>
        <td>{{d.productPrices|currency}}</td>
        <td>{{d.highestBid|currency}}</td>
        <td>
          {{d.myBid|currency}} 
        </td>
        <td>
          {{d.biddingEndDate|date}} 
        </td>
      </tr>
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th>Product Name</th>
        <th>Asking Price</th>
        <th>Highest Bid</th>
        <th>My Bid</th>
        <th>Bidding End date</th>
      </tr>
    </tfoot>
    
  </table>

<div class="btn-group flex justify-center">
  <button class="btn btn-ghost" (click)="pre()">«</button>
    <button class="btn btn-ghost">Page {{pageNumber$|async}}</button>
  <button class="btn btn-ghost" (click)="next()">»</button>
</div>
</div>
